:root {
  /* spacing */
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;

  /* radius */
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-md2: 12px;
  --radius-lg: 16px;

  /* border */
  --border-thin: 1px;
  --border-medium: 2px;

  /* transitions */
  --transition-fast: 0.15s ease;
  --transition-normal: 0.25s ease;

  /* typography */
  --font-family-base: "Roboto Mono", monospace;

  --font-size-sm: 10px;
  --font-size-md: 14px;
  --font-size-lg: 16px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}